/* .awesome_container {
 
  width: 350px;} */

.awesome_title {
  margin-bottom: 25px;
  text-align: center;
}

.awesome_line {
  width: 64px;
  height: 2px;
  border: 1px solid #d98943;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.awesome_text {
  margin-bottom: 67px;
  color: #86878b;
  text-align: center;
}
.awesome_row_container {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.awesome_row_item {
  width: 350px;
  margin: 0 15px;
}
.image_container {
  border: 1px solid #d98943;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.awesome_row_item_image {
}*/
.awesome_row_item_title {
  margin-bottom: 16px;
  text-align: center;
}
.awesome_row_item_text {
  text-align: center;
}
