.firstscreen {
  width: 100%;

  background-image: url(/image/bg/view.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.firstscreen:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}
.important-title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.important-title-color {
  color: #ec7979;
}
.firstscreen_title {
  /*width: 544px;*/
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
}
.firstscreen_title::after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  margin-top: 32px;
  margin-bottom: 39px;
  border-top: 1px solid #ffffff;
}
.firstscreen_description {
  max-width: 282px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 39px;
}

.download {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 11px 27px 11px 25px;
  text-align: center;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin: auto;
  color: #ffffff;
}
.exit-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -15px;
}

.exit-content-right {
  width: 370px;
  /*height: 370px;*/
  background: #ffffff;
  border-radius: 8px;
  margin: 0 15px;
}
.exit-content-left {
  width: 544px;
  margin: 0 15px;
}
.form-free-title {
  font-family: 'OpenSans';
  font-weight: 700;
  font-size: 20px;
  line-height: 56px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 44px;
}
.free {
  color: #ec7979;
  text-transform: uppercase;
}
.form-intro {
  padding: 0 59px;
  margin-bottom: 61px;
}
.label {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}
.input {
  display: block;
  width: 100%;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  padding: 5px;
}
.input_name {
  line-height: 16px;
  margin-bottom: 19px;
}
.input_email {
  line-height: 19px;
  margin-bottom: 16px;
}
.input_password {
  line-height: 19px;
}
.button-form {
  width: 100%; /*width:370px;*/
  height: 53px;
  background: #ec7979;
  border-radius: 0px 0px 8px 8px;
  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
}
@media (max-width: 974px) {
  .exit-content-left {
    width: 400px;
  }
  .firstscreen_title {
    font-size: 30px;
  }
  .exit-content-right {
    width: 370px;
  }
}
@media (max-width: 830px) {
  .exit-content-left {
    width: 350px;
  }
  .firstscreen_title {
    font-size: 25px;
  }

  .exit-content-right {
    width: 40%;
  }
  .form-intro {
    padding: 0 1.25em;
    margin-bottom: 1.3em;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .important-title {
    font-size: 2em;
    line-height: 2.3em;
    margin-bottom: 1em;
  }
  .firstscreen_title {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .firstscreen_title::after {
    content: '';
    display: block;
    width: 2.1em;
    height: 0.07em;
    margin-top: 1.07em;
    margin-bottom: 1.3em;
    border-top: 0.03em solid #ffffff;
  }
  .firstscreen_description {
    max-width: 100%;
    font-size: 1em;
    margin-bottom: 1.3em;
  }
  .download {
    border: 0.04em solid #ffffff;
    padding: 0.7em 1.7em 0.7em 1.6em;
    font-size: 0.85em;
    line-height: 0.88em;
  }
  .exit-content-right {
    width: 40%;
  }
}
@media (max-width: 684px) {
  .exit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exit-content-right {
    width: 50%;
  }
  .exit-content-left {
    margin-bottom: 2.5em;
    text-align: center;
  }
  .firstscreen_title::after {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.07em;
    margin-bottom: 1.3em;
  }
  .firstscreen {
    padding: 50px 0;
  }
}
@media (max-width: 560px) {
  .exit-content-right {
    width: 60%;
  }
}
