/*.pricing_container{}*/

/*.pricing_title {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}*/

.pricing_title::after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  border-top: 1px solid #e72424;
  background-color: #e72424;
  margin: 34px auto;
}

.pricing_description {
  margin-bottom: 63px;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  color: #86878b;
  text-align: center;
}

.pricing_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.pricing_card_item {
  width: 340px;
  /*height: 467px;*/
  margin: 0 15px;
}
.block-two:hover {
  transform: translate(0, -40px);
  transition: 1s ease-in;
}
.block-one:hover {
  transform: rotate(360deg);
  transition: 4s ease-in-out;
}
.block-three:hover {
  transform: translate(20px, 20px) skew(10deg);
}
.tarif_title {
  background: #333333;
  font-family: 'OpenSans';
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  /*line-height: 27px;*/
  padding-top: 15px;
  padding-bottom: 8px;
  width: 340px;

  color: #ffffff;
  margin-bottom: 2px;
}

.tarif_cost {
  padding-top: 26px;
  padding-bottom: 33px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 35px;
  /*line-height: 41px;*/
  text-align: center;
  color: #ffffff;
  width: 340px;

  background: #333333;
  margin-bottom: 2px;
}

.tarif_free {
  padding-top: 17px;
  padding-bottom: 14px;
  width: 340px;

  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 14px;
  /*line-height: 19px;*/
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background: #333333;
}

.tarif_free_another {
  padding-top: 17px;
  padding-bottom: 14px;
  width: 340px;

  font-family: 'OpenSans';
  font-weight: 800;
  font-size: 14px;
  /*line-height: 19px;*/
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background: #d98943;
}

.tarif_item {
  padding-top: 10px;
  padding-bottom: 11px;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  /*line-height: 19px;*/
  text-align: center;
  color: #86878b;
  width: 340px;

  background: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
}
